<ion-content>
  <ion-text class="ion-text-center">
    <h2 class="graficos-title">Gráficos</h2>
  </ion-text>
  <ion-card class="ion-margin">
    <ion-text class="ion-text-center">
      <h4>Cosas Lindas</h4>
    </ion-text>
    <ngx-charts-pie-chart
      [results]="single"
      [gradient]="gradient"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
    >
    </ngx-charts-pie-chart>
  </ion-card>
  <ion-card class="ion-margin">
    <ion-text class="ion-text-center" >
      <h4>Cosas Feas</h4>
    </ion-text>
    <ngx-charts-bar-vertical-2d
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showYAxisLabel]="showYAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical-2d>
  </ion-card>
</ion-content>
