<ion-content [fullscreen]="true">


  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <ion-text class="ion-text-center">
    <h1>Cosas {{ cosaType | titlecase }}</h1>
  </ion-text>

  <ion-text color="warning" class="ion-text-center no-photos" *ngIf="photos?.length === 0 && isLoading !== true">
    <h3>Todavía no se han agregado fotos...</h3>
  </ion-text>

  <ion-card class="ion-margin" *ngFor="let photo of photos">
    <ion-img class="card-image" [src]="photo.url"/>
    <ion-card-header class="ion-margin">
      <ion-card-subtitle>Subida por: {{ photo.author }} </ion-card-subtitle>
      <ion-card-subtitle>{{ formatTimestamp(photo.timestamp) }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="likes-container">
        <ion-button size="small" color="danger" (click)="likePhoto(photo)">
          <ion-icon name="heart"></ion-icon>
        </ion-button>
        <ion-text color="white"> {{ photo.likes }} </ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>



<!-- Boton sacar foto -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-margin">
  <ion-fab-button (click)="takePhoto()" size="small" color="danger">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>
